*
!*/

!*.py
!README.md
!requirements.txt

!dockerfile
!.dockerignore

#
!/database/**/*.sql
!/database/**/*.brM3

!/static/fonts/**/*.ttf
!/static/scripts/**/*.js
!/static/style/**/*.css

!/templates/**/*.html
