{% extends "default/layout_1.html" %}

{% block page_javascript %}
<script src="{{ url_for("static", filename="scripts/manager.js") }}" type="module" defer></script>
{% endblock %}

{% block title %}Manager{% endblock %}

{% block content_main %}
<form id="manager_form_crud">
    <select name="entity_name" id="manager_select_entityName">
        {% if "PERMISSION_MANAGER_PERSON" in permissions %}
        <option value="Person">Person</option>
        {% endif %}

        {% if "PERMISSION_MANAGER_REGISTER" in permissions %}
        <option value="Register">Register</option>
        {% endif %}

        {% if "PERMISSION_MANAGER_LOCALWORK" in permissions %}
        <option value="LocalWork">LocalWork</option>
        {% endif %}

        {% if "PERMISSION_MANAGER_DEPARTAMENT" in permissions %}
        <option value="Departament">Departament</option>
        {% endif %}

        {% if "PERMISSION_MANAGER_TASK" in permissions %}
        <option value="Task">Task</option>
        {% endif %}
    </select>

    <select name="crud_operation" id="manager_select_crudOperation">
        <option value="create">Create</option>
        <option value="delete">Delete</option>
        <option value="update">Update</option>
        <option value="select">Select</option>
    </select>

    <div class="crud_constraint" id="manager_box_crudConstraint">
        <!--
        <select name="select_constraint">
            <option value="where">Where</option>
        </select>

        <select name="select_constraint_entityField">
            ${field_names_option}
        </select>

        <select name="select_contraint_operator">
            <option value=">"> > </otpion>
            <option value="<"> < </otpion>

            <option value=">="> >= </option>
            <option value="<="> <= </option>

            <option value="=="> == </option>
            <option value="!="> != </option>
        </select>

        <input type="text" name="constraint_value" placeholder="Enter with constraint value" required>
        -->
    </div>

    <div class="entity_field" id="manager_box_entity">
        <!--
        <label>${i}</label>
        <input type="text" name="entity_field_${i}">
        <br>
        -->
    </div>

    <button id="manager_button_form_crud_submit">Submit</button>
</form>
{% endblock %}
